.mobile-editor {
  .MuiInput-root {
    input {
      font-size: 22px !important;
      line-height: 1;
      padding: 8px 0;
      font-weight: bold;
    }
  }
  .MuiInput-underline:before, .MuiInput-underline:after, .MuiInput-underline:hover:not(.Mui-disabled):before {
    border: none !important;
  }
  .content-input {
    textarea {
      font-size: 16px !important;
      line-height: 1.75;
      min-height: 70vh;
      &:focus {
        min-height: auto;
      }
    }
    .MuiOutlinedInput-input {
      padding: 0;
      padding-bottom: 60px;
    }
    fieldset {
      display: none;;
    }
  }
}

.p-editor {
  &-back {
    position: absolute;
    top: 0;
    left: -20px;
    box-sizing: border-box;
    height: 45px;
    margin-top: 25px;
    padding-right: 25px;
    color: #2495DC;
    cursor: pointer;
    font-size: 13px;
    border-right: 1px solid #d8d8d8;

    .MuiSvgIcon-root {
      width: 30px;
      height: 30px;
      font-weight: 200;
    }
  }

  &-save {
    position: absolute;
    top: 0;
    right: -15px;
    z-index: 999;
  }

  &-input-area {
    box-sizing: border-box;
    width: 100vw;
    max-width: 750px;
    padding-top: 40px;
    margin-left: 120px;
    margin-right: 140px;

    .MuiInput-root {
      margin-bottom: 8px;
      font-weight: 500;
      input {
        font-size: 22px !important;
      }
    }
  }

  &-markdown {
    .editor-toolbar {
      border: 1px solid #ddd;
      border-bottom: none;
      display: flex;
      padding-top: 6px;
      padding-bottom: 6px;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .CodeMirror {
      font-size: 16px;
      padding: 16px;
      line-height: 1.8;
      height: calc(100vh - 135px);
    }
  }

  .MuiInput-underline {

    &:after,
    &:before {
      display: none;
    }
  }

  .word-count {
    margin-left: 101%;  
  }
}

.publish-dialog {
  .MuiDialogTitle-root {
    padding: 24px 32px;
  }

  .MuiDialogContent-root {
    padding: 8px 32px;
  }

  .MuiDialogActions-root {
    padding: 16px 34px;
    width: 280px;

    .cancel-publish {
      height: 40px;
      line-height: 40px;
    }
  }
}