be/node_modules

be/npm-debug.log*
be/yarn-debug.log*
be/yarn-error.log*

be/config.js

# dependencies
fe/node_modules
fe/.pnp
fe/.pnp.js

# testing
fe/coverage

# production
fe/build

# misc
fe/.DS_Store
fe/.env.local
fe/.env.development.local
fe/.env.test.local
fe/.env.production.local

fe/npm-debug.log*
fe/yarn-debug.log*
fe/yarn-error.log*
