@import "../../styles/utilities/colors.scss";

.waiting-for-feed {
  margin-top: 20vh;

  img {
    width: 150px;
  }

  .btn {
    padding: 10px 15px;
    border-radius: 20px;
    border: $gray-lighter-color0 1px solid;
  }
}