.po-width-100 {
  width: 100px;
}
.po-width-150 {
  width: 150px;
}
.po-width-200 {
  width: 200px;
}
.po-width-300 {
  width: 300px;
}
.po-width-400 {
  width: 400px;
}
.po-width-500 {
  width: 500px;
}
.po-width-960 {
  width: 960px;
  max-width: 90%;
}
.po-width-1200 {
  min-width: 1200px;
  width: 1200px;
  max-width: 90%;
}
.po-width-10{
  width: 10%;
}
.po-width-20{
  width: 20%;
}
.po-width-30{
  width: 30%;
}
.po-width-40{
  width: 40%;
}
.po-width-50{
  width: 50%;
}
.po-width-60{
  width: 60%;
}
.po-width-70{
  width: 70%;
}
.po-width-80{
  width: 80%;
}
.po-width-90{
  width: 90%;
}
.po-width-100{
  width: 100%;
}
.po-full {
  width: 100%;
}
.full-height-without-header {
  height: calc(100vh - 64px);
}