.search-page
  .search-box
    max-width: 600px

  // .search-toolbar
  //   max-width: 650px

  .truncate-lines
    text-overflow: ellipsis
    overflow: hidden
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical

  .yx_hl
    color: #de7b56

  .searched-code
    font-family: "Roboto Mono"

  .MuiPaginationItem-page
    color: #888888

    &.Mui-selected
      background: #227daa
      color: #fff
      border-color: #227daa

    &:hover
      background: none
      color: #227daa
      border-color: #227daa
