@import 'github.markdown.scss';

/************************************** BODY STYLES **************************************/
body {
  font-family: "open_sans, Open Sans, PingFang SC, Microsoft YaHei, 微软雅黑, STXihei, 华文细黑, sans-serif";
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  overflow-y: auto;
  -webkit-font-smoothing: auto;
}

/************************************** IMAGE STYLES **************************************/
img {
  max-width: 100%;
}

/************************************** ANCHOR STYLES **************************************/
a {
  outline: none;
}

/************************************** SVG STYLES **************************************/
.MuiSvgIcon-root {
  font-size: inherit !important;
}

/************************************** TAB STYLES **************************************/
.MuiTab-textColorPrimary {
  &.Mui-selected {
    color: #96c02d !important;
  }
}

.MuiTabs-indicator {
  background: #96c02d !important;
}

/************************************** INPUT STYLES **************************************/
.MuiTextField-root {

  label,
  input,
  textarea {
    font-size: 14px !important;
  }

  div::after {
    border-bottom: #888;

    &:hover {
      border-bottom: #888;
    }
  }

  fieldset {
    border-color: rgba(0, 0, 0, 0.23) !important;
  }

  .MuiOutlinedInput-input {
    padding: 12px;
  }

  .Mui-focused fieldset {
    border-color: #1bb0e6 !important;
  }
}