.po-block {
  display: block;
}

.po-inline-block {
  display: inline-block;
}

.po-radius-3 {
  border-radius: 3px;
}

.po-radius-5 {
  border-radius: 5px;
}

.po-radius-50 {
  border-radius: 50%;
}

.po-hide {
  display: none;
}

.po-hidden {
  visibility: hidden;
}
