@import 'github.markdown.scss';
@import 'font-awesome.scss';

/************************************** BODY STYLES **************************************/
body {
  font-family: Nunito Sans, PingFang SC, Hiragino Sans GB, Heiti SC, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
  line-height: 1.5;
  overflow-y: auto;
  -webkit-font-smoothing: auto;
  background-color: #fff;
}

/************************************** BUTTON STYLES **************************************/
div,
button {
  outline: none !important;
}

/************************************** ANCHOR STYLES **************************************/
a {
  outline: none !important;
}

/************************************** OL, UL STYLES **************************************/
ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

/************************************** SVG STYLES **************************************/
.MuiSvgIcon-root:not(.MuiSelect-icon) {
  font-size: inherit !important;
}

/************************************** TAB STYLES **************************************/
.MuiTab-textColorPrimary {
  &.Mui-selected {
    color: #96c02d !important;
  }
}

.MuiTab-textColorInherit.Mui-selected {
  color: #63b3ed !important;
}

.MuiTabs-indicator {
  background: #63b3ed !important;
}

/************************************** INPUT STYLES **************************************/
.MuiTextField-root {

  label,
  input,
  textarea {
    font-size: 14px !important;
  }

  div::after {
    border-bottom: #888;

    &:hover {
      border-bottom: #888;
    }
  }

  fieldset {
    border-color: rgba(0, 0, 0, 0.23) !important;
  }

  .MuiOutlinedInput-input {
    padding: 12px;
  }

  .Mui-focused fieldset {
    border-color: #63b3ed !important;
  }

  .MuiOutlinedInput-multiline {
    padding: 0 !important;
  }
}

.MuiFormLabel-root.Mui-focused {
  color: #63b3ed !important;
}

.MuiInput-underline:hover:not(.Mui-disabled):before,
.MuiInput-underline:after {
  border-bottom-color: #63b3ed !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #63b3ed !important;
}

/************************************** MATH JAX STYLES **************************************/
.mjx-chtml {
  outline: 0;
}

.MJXc-display {
  overflow-x: auto;
  overflow-y: hidden;
}

/************************************** WIDTH STYLES **************************************/
.max-w-1200 {
  box-sizing: border-box;
  max-width: 1200px;
}

/************************************** COLOR EXTEND STYLES **************************************/
.gray-light-color {
  color: #999;
}

.gray-lighter-color {
  color: #F7F9FC;
}

.gray-lighter-color1 {
  color: #bdbdbd;
}

.gray-lighter-color2 {
  color: #d8d8d8;
}

.gray-color {
  color: #888888;
}

.gray-darker-color {
  color: #6d6d6d;
}

.dark-color {
  color: #4a4a4a;
}

.white-color {
  color: white;
}

.black-color {
  color: black;
}

.green-light-color {
  color: #aed452;
}

.red-color {
  color: #f50057;
}

.orange-color {
  color: #996c52;
}

.headline-color {
  color: #468f9d;
}

.navbar-color {
  color: #4b9eae;
}

.light-box-color {
  color: #7fb5bf;
}

.dark-bg-color {
  color: #2f2f2f;
}

.primary-color {
  color: #3a6789;
}

.blue-color {
  color: #2495DC;
}

.green-color {
  color: #93b719;
}

.hover-green-color {
  color: #9BC61B;
}

.link-color {
  color: #227daa;
}

.greyblue-color {
  color: #58c2c1;
}

.nice-blue-color {
  color: #1880b8;
}

.orangey-yellow-color {
  color: #f5a623;
}

.border-color {
  color: #85e1e0;
}

.title-color {
  color: #16b3b3;
}

.dark-peach-color {
  color: #de7b56;
}

.title-color {
  color: #707070;
}

.accent-color {
  color: #ff687b;
}

.pig-pink-color {
  color: #e27b88;
}

.page-bg {
  color: #f7f7f7;
}

.help-color {
  color: #77a0b2;
}

/************************************** MODAL STYLES **************************************/
.MuiPaper-rounded {
  border-radius: 12px !important;
}

/************************************** SWITCH STYLES **************************************/
.MuiSwitch-colorPrimary.Mui-checked {
  color: #63b3ed !important;
  & + .MuiSwitch-track {
    background-color: #63b3ed !important;
  }
}

/************************************** TOOLTIP STYLES **************************************/
.MuiTooltip-tooltip {
  font-size: 12px !important;
}

/************************************** TAB HIGHLIGHT STYLES **************************************/
* { 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
}

/************************************** SCROLL BAR STYLES **************************************/
.overflow-y-auto {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.overflow-y-auto::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
  display: none;  /* Safari and Chrome */
  background: transparent;
}