.mobile-viewer-container {
  width: 125vw;
  height: calc(125vh + 84px);
  top: -12.5vh;
  left: -12.5vw;
  z-index: 100;
  .mobile-viewer {
    .react-viewer-close {
      top: 12.5vh;
      right: 12.5vw;
    } 
    .circle-loading {
      position: relative;
      top: calc(12.5vh + 42px);
    }
  }
}
