.mobile-editor {
  .MuiInput-root {
    input {
      font-size: 22px !important;
      line-height: 1;
      padding: 8px 0;
      font-weight: bold;
    }
  }
  .MuiInput-underline:before, .MuiInput-underline:after, .MuiInput-underline:hover:not(.Mui-disabled):before {
    border: none !important;
  }
  .content-input {
    textarea {
      font-size: 16px !important;
      line-height: 1.75;
      min-height: 70vh;
      &:focus {
        min-height: auto;
      }
    }
    .MuiOutlinedInput-input {
      padding: 0;
      padding-bottom: 60px;
    }
    fieldset {
      display: none;;
    }
  }
}
